# Generated on compilation
baby*.hh
baby*.cc

# Compiled Object files
*.slo
*.lo
*.o
*.pyc
*__init_*

# Compiled Dynamic libraries
*.so
*.d

# Compiled Static libraries
*.lai
*.la
*.a

# Compiled executables
*.exe

# Generated source files
bin/*

# emacs backups
*~
*#

# Other
*.root
*.log
*.pdf
*.eps
*.tex
*.aux
gmon.out
out
logs
run
archive
.nfs*
.#-emacs*
sftp-config.json
