# Generated on compilation
baby*.hh
baby*.cc
bmaker/interface/release.hh

# Compiled Object files
*.slo
*.lo
*.o
*.pyc
*__init_*
._*

# Big event list file
data/csc_beamhalo_filter/*

# Compiled Dynamic libraries
*.so
*.d

# Compiled Static libraries
*.lai
*.la
*.a

# Compiled executables
*.exe

# Generated source files
bin/*
crab_cfg_*.py

# emacs backups
*~
*#

# Other
/*.root
out/*.root
*.log
*.pdf
*.eps
*.tex
*.aux
gmon.out
out
/run
logs
archive
.nfs*
.#-emacs*
sftp-config.json
